<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>지도와 팝업</title>
    <link rel="stylesheet" href="/css/sangpop.css" />
  </head>
  <body>
    <!-- 헤더 -->
    <div id="popup" class="popup">
      <div class="popup-header">
        <h3>위치 선택</h3>
      </div>
      <div class="popup-body">
        <!-- 위치 선택 토글 메뉴 -->
        <div class="location-toggle">
          <label for="location">위치 선택</label>
          <select id="location">
            <option value="광주 동명동">광주 동명동</option>
            <option value="성수동 2가">성수동 2가</option>
            <option value="두류동">두류동</option>
            <option value="장전동">장전동</option>
          </select>
        </div>
        <br />
        <!-- 위치 검색 -->
        <div class="location-search">
          <input
            type="text"
            id="search-location"
            placeholder="주소를 입력하세요"
          />
          <button id="search-btn" class="search-btn">검색</button>
        </div>
        <br />
        <!-- 체크박스 -->
        <div class="checkbox-group">
          <label><input type="checkbox" /> 상권별</label>
          <label><input type="checkbox" /> 공통고려메뉴</label>
        </div>
        <br />
        <!-- 분석하기 버튼 -->
        <button id="analyze-button" class="analyze-btn">분석하기</button>
      </div>
    </div>

    <script src="script.js"></script>
  </body>
</html>
