<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>공지사항 리스트</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/css/gongzi_index.css" />
    <!-- 외부 CSS 파일 연결 -->
  </head>
  <body>
    <div id="headers">상단바</div>

    <script>
      $("#headers").load("/header.html");
    </script>
    <main>
      <section class="notice-list-container">
        <h2>공지사항</h2>
        <!-- 검색 입력창 -->
        <div class="search-container">
          <input
            type="text"
            id="search-input"
            class="search-input"
            placeholder="검색"
            onkeyup="searchQna()"
          />
          <td><a href="qna_write.html" class="write-btn">검색</a></td>
          <td><a href="qna_write.html" class="write-btn">글쓰기</a></td>
        </div>

        <!-- 공지사항 리스트 -->
        <table class="notice-list-table" id="notice-table">
          <thead>
            <tr>
              <th>번호</th>
              <th>제목</th>
              <th>작성자</th>
              <th>날짜</th>
              <th>보기</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>서비스 점검 안내</td>
              <td>오도영이 다 해줄것이야..</td>
              <td>2024-12-01</td>
              <td>
                <a href="notice_detail.html?id=1" class="view-btn">보기</a>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>새로운 정책 안내</td>
              <td>오동동동</td>
              <td>2024-12-05</td>
              <td>
                <a href="notice_detail.html?id=2" class="view-btn">보기</a>
              </td>
            </tr>
            <tr>
              <td>3</td>
              <td>이벤트 결과 발표</td>
              <td>냐옹이</td>
              <td>2024-12-10</td>
              <td>
                <a href="notice_detail.html?id=3" class="view-btn">보기</a>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
    </main>
    <footer class="footer">
      <p>오동로켓단</p>
    </footer>
    <!-- 외부 JS 파일 연결 -->
  </body>
</html>
