<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>서비스 소개</title>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <link rel="stylesheet" href="/css/service.css" />
  </head>
  <body>
    <div id="headers">상단바</div>

    <script>
      $("#headers").load("/header.html");
    </script>

    <section class="service-section">
      <div class="service-card">
        <h2>상권 고려 메뉴</h2>
        <p>
          사용자가 선택한 상권에서 흔한 메뉴 제외 후 여전히 언급 빈도가 높은
          메뉴를 제안해서 리스트로 제공합니다.
        </p>
      </div>
      <div class="service-card">
        <h2>상권 공통 메뉴</h2>
        <p>사용자가 선택한 두 상권에서 흔한 메뉴 제외 후,</p>
        <p>언급 빈도가 높은 메뉴를 제안해서 리스트로 제공합니다.</p>
        <p>우리 매장에서만 판매하지 않는 메뉴가 존재할수있어요!</p>
      </div>
      <div class="service-card">
        <h2>상권 직접 비교</h2>
        <p>
          선택하신 메뉴와 유사한 메뉴를 찾아 재료도 함께 알려드립니다 ! 메뉴
          개발에 도움이 될겁니다 !
        </p>
      </div>
      <div class="service-card">
        <h2>상권 유사도 기반 비교</h2>
        <p>
          사용자가 관심 있는 상권을 검색하면 두 상권의 메뉴를 비교하여, 그와
          유사한 다른 상권을 함께 보여줍니다.
        </p>
        <p>
          상권1에서는 드물지만 상권2에서는 자주 등장하는 메뉴를 제안해줍니다.
        </p>
      </div>
      <div class="service-card">
        <h2>유사 메뉴 추천</h2>
        <p>
          원하는 메뉴를 선택하면 유사한 메뉴를 찾아드립니다! 또한 메뉴에 대한
          설명과 이해를 위한 설명, 재료를 소개해 메뉴 개발에 대한 생각의 폭을
          넓혀드립니다!
        </p>
      </div>
      <div class="service-card">
        <h2>사용자 입력 키워드 유사 메뉴 추천</h2>
        <p>
          카페의 분위기와 어울리는 음료, 계절감이나 추상적인 느낌을 검색했을때,
          유사도를 측정하여 어울리는 음료를 제공합니다.
        </p>
      </div>
    </section>

    <!-- <footer class="footer">
      <p>오동로켓단</p>
    </footer> -->
  </body>
</html>
